.form-container {
  width: 25%;
  max-width: 200px;
  border: 1px solid black;
}

.result-container {
  padding-top: 10px;
  padding-left: 30px;
  border: 1px solid black;
  vertical-align: text-top;
}
